*~
*.elc
auto-save-list
recentf
savehist
saveplace
eshell
el-get
semanticdb
url
ede-projects.el
.DS_Store
custom.el
places
.smex-items
savefile/
projectile-bookmarks.eld
session*
.cask
personal/work.el
/tramp
/.org-id-locations
/elpa/archives/gnu/archive-contents
/elpa/archives/melpa/archive-contents
